.button {
  display: inline-block;
  background: #fff;
  color: #f99d80;
  text-transform: uppercase;
  padding: 20px 30px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.35),
    0 5px 5px -10px rgba(0, 0, 0, 0.35);
  border-radius: 100px;
  border-color: rgb(223, 223, 223);
  cursor: pointer;
  -webkit-transition: all ease-in-out 50ms;
  transition: all ease-in-out 50ms;
}
.button:hover {
  color: #f99d80;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.35),
    0 5px 5px -10px rgba(0, 0, 0, 0.35);
  -webkit-transform: translate(0px, -1px) scale(1.075);
  transform: translate(0px, -1px) scale(1.075);
}
