/* Primary style formatted for iphone 13 mini: 375px x 812px */
:root[color-mode="dark"] {
  --bg-img: url("/assets/saturn2.webp");
  --bg-img-desktop: url("/assets/img/saturn2.jpg");
  --glass-bg-color: rgba(76, 76, 76, 0.3);
  --glass-shadow: inset 2px 2px 01.25px rgba(255, 255, 255, 0.3),
    inset 1px 1px 01.25px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.3),
    2px 2px 2px rgba(255, 255, 255, 0.3), 12px 10px 15px rgba(0, 0, 0, 0.6);
  --glass-cutout-bg: rgba(0, 0, 0, 0.4);
  --glass-cutout-shadow: 0 -0.2em 0.2em rgba(255, 255, 255, 0.35),
    inset 0 -0.2em 0.2em rgba(0, 0, 0, 0.5),
    -0.2em 0 0.2em rgba(255, 255, 255, 0.3),
    inset -0.2em 0 0.2em rgb(0, 0, 0, 0.3), 1px 1px 1px rgb(0, 0, 0, 0.5),
    inset 1px 1px 1px rgb(0, 0, 0), inset 2px 2px 2px rgb(0, 0, 0),
    3px 2px 4px rgb(255, 255, 255, 0.5);
  --glass-cutout-shadow-high-contrast: 0 -0.2em 0.2em rgba(255, 255, 255, 0.7),
    inset 0 -0.2em 0.2em rgba(0, 0, 0, 0.5),
    -0.2em 0 0.2em rgba(255, 255, 255, 0.5),
    inset -0.2em 0 0.2em rgb(0, 0, 0, 0.3), 1px 1px 1px rgb(0, 0, 0, 0.5),
    inset 1px 1px 1px rgb(0, 0, 0), inset 2px 2px 2px rgb(0, 0, 0),
    3px 2px 4px rgb(255, 255, 255, 0.5);
  --glass-cutout-hover-bg: rgba(255, 255, 255, 0.2);
  --glass-cutout-hover-shadow: inset -0.1em -0.1em 0.5em
      rgba(255, 255, 255, 0.5),
    inset 0.1em 0.1em 0.5em rgb(255, 255, 255, 0.5),
    -0.3em -0.3em 0.5em rgba(0, 0, 0, 0.5), 0.3em 0.3em 0.5em rgba(0, 0, 0, 0.5);
  --text-color: rgba(255, 255, 255, 0.6);
  --text-shadow: 0 2px 2px #e0bf6c24, 0 1px 3px rgba(0, 0, 0, 0.5);
  --logo-inner-shadow: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
  --logo-cutout-shadow: drop-shadow(4px 1px 1px rgba(255, 255, 255, 0.3));
  --logo-initials-shadow: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.3));
  --logo-initials-stroke: rgba(181, 158, 94, 0.75);
  --logo-inner-fill: rgba(255, 255, 255, 0.1);
  --logo-inner-stroke: rgba(181, 158, 94, 0.75);
  --logo-cutout-stroke: rgba(0, 0, 0, 0.5);
  --logo-cutout-fill: rgba(255, 255, 255, 0.05);
}
:root[color-mode="light"] {
  --bg-img: url("/assets/saturn1.webp");
  --bg-img-desktop: url("/assets/img/saturn1.jpg");
  --glass-bg-color: rgba(255, 255, 255, 0.1);
  --glass-shadow: inset 2px 2px 01.25px rgba(255, 255, 255, 0.3),
    inset 1px 1px 01.25px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.3),
    2px 2px 2px rgba(255, 255, 255, 0.3), 12px 10px 15px rgba(0, 0, 0, 0.6);
  --glass-cutout-bg: rgba(0, 0, 0, 0.4);
  --glass-cutout-shadow: 0 -0.2em 0.2em rgba(255, 255, 255, 0.35),
    inset 0 -0.2em 0.2em rgba(0, 0, 0, 0.5),
    -0.2em 0 0.2em rgba(255, 255, 255, 0.3),
    inset -0.2em 0 0.2em rgb(0, 0, 0, 0.3), 1px 1px 1px rgb(0, 0, 0, 0.5),
    inset 1px 1px 1px rgb(0, 0, 0), inset 2px 2px 2px rgb(0, 0, 0),
    3px 2px 4px rgb(255, 255, 255, 0.5);
  --glass-cutout-shadow-high-contrast: 0 -0.2em 0.2em rgba(255, 255, 255, 0.7),
    inset 0 -0.2em 0.2em rgba(0, 0, 0, 0.5),
    -0.2em 0 0.2em rgba(255, 255, 255, 0.5),
    inset -0.2em 0 0.2em rgb(0, 0, 0, 0.3), 1px 1px 1px rgb(0, 0, 0, 0.5),
    inset 1px 1px 1px rgb(0, 0, 0), inset 2px 2px 2px rgb(0, 0, 0),
    3px 2px 4px rgb(255, 255, 255, 0.5);
  --glass-cutout-hover-bg: rgba(255, 255, 255, 0.2);
  --glass-cutout-hover-shadow: inset -0.1em -0.1em 0.5em
      rgba(255, 255, 255, 0.5),
    inset 0.1em 0.1em 0.5em rgb(255, 255, 255, 0.5),
    -0.3em -0.3em 0.5em rgba(0, 0, 0, 0.5), 0.3em 0.3em 0.5em rgba(0, 0, 0, 0.5);
  --text-color: rgba(0, 0, 0, 1);
  --text-shadow: 0 2px 3px #e0bf6c42, 0 1px 3px rgba(0, 0, 0, 0.3);
  --logo-inner-shadow: drop-shadow(1px 2px 1px rgba(255, 255, 255, 0.3));
  --logo-inner-fill: rgba(255, 255, 255, 0.25);
  --logo-cutout-shadow: drop-shadow(4px 1px 1px rgba(255, 255, 255, 0.3));
  --logo-initials-shadow: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
  --logo-initials-stroke: rgba(0, 0, 0, 0.5);
  --logo-inner-stroke: rgba(151, 132, 80, 0.8);
  --logo-cutout-stroke: rgba(0, 0, 0, 0.15);
  --logo-cutout-fill: rgba(0, 0, 0, 0.15);
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow-x: hidden;
}
.parallax-bg {
  background: var(--bg-img);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.parallax-content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin-top: 8rem;
  margin-bottom: 10rem;
  overflow: hidden;
}
.nav {
  float: left;
  display: block;
  position: fixed;
  min-height: 10vh;
  max-height: 10vh;
  width: 85vw;
  margin-top: 1rem;
  padding: 0.8rem 0;
  z-index: 2;
  box-shadow: var(--glass-shadow);
  border-radius: 24px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
.logo-nav-icon {
  height: 3.75rem;
  width: 3.75rem;
}
.burger-menu {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 2.75rem;
  height: 2.75rem;
  padding-left: 0.8rem;
  padding-right: 0.2rem;
  margin-bottom: 0.5rem;
  background-color: var(--glass-cutout-bg);
  border: 0px;
  box-shadow: var(--glass-cutout-shadow);
}
.burger-menu:hover {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 45px;
  height: 45px;
  padding-left: 0.8rem;
  padding-right: 0.1rem;
  background-color: var(--glass-cutout-hover-bg);
  border: 0px;
  box-shadow: var(--glass-cutout-hover-shadow);
}
.burger-line1,
.burger-line2,
.burger-line3 {
  height: 0.18rem;
  margin: 0.19rem 0.55rem;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.4s;
  box-shadow: inset 1px 2px 1px rgba(255, 255, 255, 0.5),
    1px 2px 3px rgba(0, 0, 0, 1);
}
.card {
  padding: 0%;
  height: 77vh;
  width: 85vw;
  margin-bottom: 2.5rem;
  border-radius: 24px;
  scroll-margin-top: 17vh;
  background-color: transparent;
  border: 0px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.logo {
  width: 8rem;
  height: 8rem;
  margin-top: 3.5rem;
  color: rgba(0, 0, 0, 0.35);
}
.logo-inner {
  stroke: var(--logo-inner-stroke);
  fill: var(--logo-inner-fill);
  stroke-width: 3.3;
  filter: var(--logo-inner-shadow);
}
.logo-cutout-ring {
  stroke: var(--logo-cutout-stroke);
  fill: var(--logo-cutout-fill);
  stroke-width: 8;
  filter: var(--logo-cutout-shadow);
}
.logo-initials {
  stroke: var(--logo-initials-stroke);
  fill: var(--logo-initials-stroke);
  stroke-width: 0.5;
  filter: var(--logo-initials-shadow);
}
.name {
  font-family: "peignot";
  font-size: 2rem;
  margin-top: 0%;
  margin-bottom: 0rem;
  text-align: center;
  color: var(--text-color);
  letter-spacing: 0.1em;
  text-shadow: var(--text-shadow);
}
.llc {
  font-family: "peignot";
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--text-color);
  letter-spacing: 0.1em;
  text-shadow: var(--text-shadow);
}
.tagline {
  margin: 2rem 0;
  padding: 0 0.5rem;
  font-family: "Poiret";
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  color: var(--text-color);
  letter-spacing: 0.05em;
  text-shadow: var(--text-shadow);
}
.masthead {
  width: 85vw;
  min-height: 50vh;
  max-height: 50vh;
  margin-bottom: 2.5rem;
}
.header {
  color: var(--text-color);
  font-family: Peignot;
  letter-spacing: 0.06em;
  font-size: 1.7rem;
  margin: 0.5rem 0;
  text-shadow: var(--text-shadow);
  text-align: center;
}
.copy {
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.02em;
  font-size: 1.05rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
}
.icon {
  fill: rgba(0, 0, 0, 0.438);
  text-align: center;
  margin: 0.65rem;
  height: 3.5rem;
  width: 3.5rem;
}
.subheader {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-align: left;
  margin: 5%;
}
.service-more {
  width: 37%;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0 0px 0.5px 0px;
  border-color: rgba(255, 255, 255, 0.5);
  font-family: Poiret;
  font-size: 1.33rem;
  font-weight: 650;
  color: rgba(193, 179, 142, 0.75);
  filter: drop-shadow(1px 1px 1px #ba9e58c8);
  margin-left: 30%;
  margin-top: 0.3rem;
  padding: 0 0 0 0.2rem;
}
.contact {
  margin-left: 5%;
  margin-right: 5%;
}
.contact-field {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 5%;
}
.input-bg {
  color: rgb(255, 255, 255, 0.7);
  width: 100%;
  outline: none;
  background-color: rgb(0, 0, 0, 0.5);
  border-width: 0px;
  border-color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 01px 01px 01px rgba(0, 0, 0, 0.35),
    inset 3px 3px 7px rgba(53, 53, 53, 0.65);
}
input,
textarea,
input:focus,
textarea:focus,
input:autofill,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: rgba(255, 255, 255, 0.35);
  color: rgba(0, 0, 0, 1);
  text-shadow: 0 2px 2px #e0bf6c24;
  padding: 3%;
}
.button {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  color: rgba(255, 255, 255, 0.7);
  background: rgba(0, 0, 0, 0.075);
}
.glass {
  background: var(--glass-bg-color);
  -webkit-box-shadow: var(--glass-shadow);
  box-shadow: var(--glass-shadow);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
.blur-filter {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
.gradient {
  background: linear-gradient(
    -10deg,
    black,
    black,
    black,
    rgb(170, 170, 170),
    rgb(211, 209, 209),
    grey,
    black,
    black,
    black
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 59px;
  height: 30px;
  box-shadow: var(--glass-cutout-shadow-high-contrast);
}
.toggle-icon-row {
  height: 30px;
  width: 59px;
  margin: 0%;
  padding: 0%;
}
.sun-icon {
  height: 23px;
  width: 23px;
  align-self: stretch;
  margin-top: 6%;
  margin-right: 6%;
  padding: 0%;
  filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 1));
}
.sun-icon:hover {
  filter: drop-shadow(-2px -3px 3px #ba9e58);
}
.moon-icon {
  height: 23px;
  width: 23px;
  margin: 5%;
  padding: 0%;
  align-self: stretch;
  fill: rgba(255, 255, 255, 0.5);
  filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 1));
}
.moon-icon:hover {
  filter: drop-shadow(-2px -3px 3px #ba9e58);
}
.hidden {
  visibility: hidden;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.round {
  border-radius: 34px;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 34px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 2;
}
.slider:before {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  height: 24px;
  width: 24px;
  position: absolute;
  content: "";
  left: 4px;
  top: 0.2rem;
  bottom: 0.15rem;
  box-shadow: inset 2px 2px 01.25px rgba(255, 255, 255, 0.3),
    inset 1px 1px 01.25px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.3),
    inset -1px 2px 2px rgba(255, 255, 255, 0.3), 3px 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:hover::before {
  background-color: rgba(255, 255, 255, 0.6);
  height: 26px;
  width: 26px;
  top: 0.15rem;
  bottom: 0.15rem;
}
input:checked + .slider {
  background-color: rgba(90, 90, 90, 0.55);
}
input:focus + .slider {
  box-shadow: 0 0 3px #0000005d;
}
input:checked + .slider:before {
  -webkit-transform: translateX(27px);
  -ms-transform: translateX(27px);
  transform: translateX(27px);
}
/* The side navigation menu */
.sidenav-bg {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  bottom: 0;
  left: 0%;
  overflow: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav {
  background-color: rgba(255, 255, 255, 0.15);

  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  height: 70%;
  width: 0; /* 0 width - change this with JavaScript */
  margin-top: 15%;
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  top: 0;
  right: 5%;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav-menu {
  margin-top: 1.75rem;
}
/* The navigation menu links */
.sidenav a {
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
  transition: 0.5s;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 1%;
  font-size: 2.75rem;
  margin-left: 50px;
  margin-bottom: 1rem;
}
/* This container is needed to position the front and back side */
.flip-box-inner {
  margin-right: 0%;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.card.active .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
  margin-right: 0%;
  padding: 1.15rem 1.7rem;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
/* Style the back side */
.flip-box-back {
  transform: rotateY(180deg);
}
.animated {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.fadeInUp-animation {
  -webkit-animation: 1.75s fadeInUp;
  animation: 1.75s fadeInUp;
}
@keyframes fadeInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.fadeInDown-animation {
  -webkit-animation: 1.75s fadeInDown;
  animation: 1.75s fadeInDown;
}
@font-face {
  font-family: "Better Regular";
  src: url("assets/fonts/better.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Znikomitno25";
  src: url("assets/fonts/znikomitno25.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kilsonburg";
  src: url("assets/fonts/kilsonburg.regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poiret";
  src: url("assets/fonts/poiret-one.regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "UES";
  src: url("assets/fonts/uppereastside.regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "peignot";
  src: url("assets/fonts/peignot.regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Short/xs iphones 6-8 */
@media (max-height: 667px) {
  .nav {
    min-height: 12vh;
    max-height: 12vh;
  }
  .masthead {
    height: 77vh;
  }
  .logo {
    height: 16vh;
    width: 16vh;
    margin-top: 1.75rem;
  }
  .tagline {
    font-size: 1.2rem;
    margin: 0 1rem;
  }
  .card {
    padding-top: 0.7rem;
    padding-right: 1.4rem;
    height: 82vh;
  }
  .icon {
    margin-top: 0.85rem;
    margin-bottom: 0.2rem;
    height: 3.2rem;
    width: 3.2rem;
  }
  .header {
    letter-spacing: 0.05em;
    font-size: 1.7rem;
  }
  .copy {
    letter-spacing: 0.009em;
    font-size: 1.025rem;
    font-weight: 520;
  }
}
/* Short/xs Android ie Samsung Edge series */
@media (max-height: 665px) {
  .nav {
    min-height: 12vh;
    max-height: 12vh;
  }
  .masthead {
    height: 77vh;
  }
  .logo {
    height: 16vh;
    width: 16vh;
    margin-top: 1.75rem;
  }
  .tagline {
    font-size: 1.2rem;
    margin: 0 1rem;
  }
  .card {
    padding-top: 0.7rem;
    padding-right: 1.5rem;
    height: 87vh;
  }
  .icon {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    height: 3.2rem;
    width: 3.2rem;
  }
  .header {
    letter-spacing: 0.05em;
    font-size: 1.7rem;
  }
  .copy {
    letter-spacing: 0.009em;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
  }
  .service-more {
    width: 45%;
    font-size: 1.3rem;
    margin-left: 25%;
  }
}
/*  Small Android phones such as Samsung Galaxy series */
@media (min-height: 740px) {
  .card {
    height: 80vh;
    width: 85vw;
  }
}
/* Medium phone screens ie iphone 11, iPhone 12 Pro, or google pixel 3XL or google pixel 5 */
@media (min-height: 844px) {
  .card {
    height: 79vh;
    width: 85vw;
    padding: 1rem 2.2rem;
  }
  .icon {
    margin-top: 1.75rem;
    margin-bottom: 0.7rem;
    height: 3.5rem;
    width: 3.5rem;
  }
  .header {
    letter-spacing: 0.05em;
    font-size: 2rem;
  }
  .copy {
    letter-spacing: 0.01em;
    font-size: 1.15rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  .service-more {
    width: 45%;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0.75rem;
    margin-left: 25%;
  }
}
/* Large phone screens ie  */
@media (min-height: 853px) {
  .card {
    height: 80vh;
    width: 85vw;
    padding: 1.15rem 2rem;
  }
  .copy {
    letter-spacing: 0.02em;
    font-size: 1.25rem;
    margin: 0.4rem;
  }
  .service-more {
    margin-top: 0.25rem;
  }
}
/* XS tablets */
@media (min-width: 650px) {
  .parallax-content {
    padding: 0 10vw;
  }
}
/* Small tablets & phone landscape */
@media (min-width: 1024px) {
  .parallax-bg {
    background: var(--bg-img-desktop);
    background-size: cover;
  }
  .parallax-content {
    margin-top: 15vh;
    margin-left: 3.5vw;
    margin-right: 2vw;
    padding: 0 0;
  }
  .left-panel {
    float: left;
    width: 25vw;
    display: flex;
    position: fixed;
    min-height: 59vh;
    max-height: 59vh;
    margin: 16vh 5vw;
    z-index: 2;
  }

  .nav {
    width: 100%;
    margin-left: 0;
  }
  .logo {
    margin-top: 5vh;
  }
  .llc {
    margin-bottom: 0%;
  }
  .icon {
    height: 5rem;
    width: 5rem;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
    margin-left: 40%;
    margin-right: 50%;
  }
  .header {
    font-size: 1.75rem;
    margin: 0;
  }
  .copy {
    font-size: 1rem;
    margin: 0;
  }
  .card {
    width: 30vw;
    height: 55vh;
    margin: 1vh 1vw;
    padding: 1rem 2.5rem;
  }
  .contact {
    width: 30vw;
    min-height: 70vh;
    max-height: 70vh;
    margin: 10vh 1vw;
    padding: 1.5rem;
  }
  .contact-form {
    margin-left: 1.5rem;
  }
  .contact-field {
    width: 20vw;
    margin: 0%;
  }
  .message-field {
    width: 30vw;
    margin: 0%;
  }
  .masthead {
    width: 93vw;
    min-height: 45vh;
    max-height: 45vh;
    margin-bottom: 1rem;
    margin-left: 1vw;
  }
}
