:root[color-mode="dark"] {
  --bg-img-filter: invert(0%);
  --glass-bg-color: rgba(80, 80, 80, 0.35);
  --glass-shadow: inset 2px 2px 01.25px rgba(255, 255, 255, 0.3),
    inset 1px 1px 01.25px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.3),
    2px 2px 2px rgba(255, 255, 255, 0.3), 12px 10px 15px rgba(0, 0, 0, 0.6);
  --glass-cutout-bg: rgba(0, 0, 0, 0.4);
  --glass-cutout-shadow: 0 -0.2em 0.2em rgba(255, 255, 255, 0.35),
    inset 0 -0.2em 0.2em rgba(0, 0, 0, 0.5),
    -0.2em 0 0.2em rgba(255, 255, 255, 0.3),
    inset -0.2em 0 0.2em rgb(0, 0, 0, 0.3), 1px 1px 1px rgb(0, 0, 0, 0.5),
    inset 1px 1px 1px rgb(0, 0, 0), inset 2px 2px 2px rgb(0, 0, 0),
    3px 2px 4px rgb(255, 255, 255, 0.5);
  --glass-cutout-shadow-high-contrast: 0 -0.2em 0.2em rgba(255, 255, 255, 0.7),
    inset 0 -0.2em 0.2em rgba(0, 0, 0, 0.5),
    -0.2em 0 0.2em rgba(255, 255, 255, 0.5),
    inset -0.2em 0 0.2em rgb(0, 0, 0, 0.3), 1px 1px 1px rgb(0, 0, 0, 0.5),
    inset 1px 1px 1px rgb(0, 0, 0), inset 2px 2px 2px rgb(0, 0, 0),
    3px 2px 4px rgb(255, 255, 255, 0.5);
  --glass-cutout-hover-bg: rgba(93, 85, 66, 0.2);
  --glass-cutout-hover-shadow: inset -0.1em -0.1em 0.5em
      rgba(255, 255, 255, 0.5),
    inset 0.1em 0.1em 0.5em rgb(255, 255, 255, 0.5),
    -0.3em -0.3em 0.5em rgba(0, 0, 0, 0.5), 0.3em 0.3em 0.5em rgba(0, 0, 0, 0.5);
  --text-color: rgba(255, 255, 255, 0.6);
  --text-shadow: 0 2px 2px #e0bf6c32, 0 1px 3px rgba(0, 0, 0, 0.75);
  --logo-inner-shadow: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
  --logo-cutout-shadow: drop-shadow(4px 1px 1px rgba(255, 255, 255, 0.3));
  --logo-initials-shadow: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.3));
  --logo-initials-stroke: rgba(181, 158, 94, 0.75);
  --logo-inner-fill: rgba(255, 255, 255, 0.1);
  --logo-inner-stroke: rgba(181, 158, 94, 0.75);
  --logo-cutout-stroke: rgba(0, 0, 0, 0.5);
  --logo-cutout-fill: rgba(255, 255, 255, 0.05);
  --burger-lines: rgba(227, 197, 115, 0.35);
  --burger-lines-shadow: inset 1px 2px 1px rgba(227, 197, 115, 0.3),
    1px 2px 3px rgba(0, 0, 0, 1);
  --slider-bg: rgba(0, 0, 0, 0.6);
  --icon-fill: rgba(0, 0, 0, 0.5);
  --icon-stroke: rgba(227, 197, 115, 0.15);
  --icon-shadow: drop-shadow(1px -1px 2px rgba(255, 242, 215, 0.587));
  --service-link-color: rgba(193, 179, 142, 0.85);
  --service-link-filter: drop-shadow(1px 1px 1px #ba9e58c8);
  --headshot-filter: grayscale(60%);
  --contact-icon-stroke: rgba(255, 242, 215, 0.1);
  --contact-icon-fill: rgba(0, 0, 0, 0.45);
  --contact-icon-shadow: drop-shadow(1px -1px 2px rgba(255, 242, 215, 0.587));
}
:root[color-mode="light"] {
  --bg-img-filter: invert(100%) sepia(5%);
  --glass-bg-color: rgba(228, 227, 221, 0.25);
  --glass-shadow: inset 2px 2px 01.25px rgba(244, 237, 237, 0.5),
    inset 1px 1px 01.25px rgba(199, 161, 115, 0.35),
    1px 1px 2px rgba(244, 237, 237, 0.5), 2px 2px 2px rgba(199, 161, 115, 0.2),
    12px 10px 15px rgba(148, 135, 120, 0.5);
  --glass-cutout-bg: rgba(91, 78, 62, 0.25);

  --glass-cutout-shadow: 0 -0.2em 0.2em rgba(228, 227, 221, 0.35),
    inset 0 -0.2em 0.2em rgba(122, 111, 99, 0.25),
    -0.2em 0 0.2em rgba(228, 227, 221, 0.35),
    inset -0.2em 0 0.2em rgba(122, 111, 99, 0.25),
    inset 2px 2px 2px rgba(122, 111, 99, 0.25),
    3px 2px 4px rgba(228, 227, 221, 0.35);

  --glass-cutout-shadow-high-contrast: 0 -0.2em 0.2em rgba(255, 255, 255, 0.7),
    inset 0 -0.2em 0.2em rgba(0, 0, 0, 0.5),
    -0.2em 0 0.2em rgba(255, 255, 255, 0.5),
    inset -0.2em 0 0.2em rgb(0, 0, 0, 0.3), 1px 1px 1px rgb(0, 0, 0, 0.5),
    inset 1px 1px 1px rgb(0, 0, 0), inset 2px 2px 2px rgb(0, 0, 0),
    3px 2px 4px rgb(255, 255, 255, 0.5);
  --glass-cutout-hover-bg: rgba(255, 255, 255, 0.2);
  --glass-cutout-hover-shadow: inset -0.1em -0.1em 0.5em
      rgba(255, 255, 255, 0.5),
    inset 0.1em 0.1em 0.5em rgb(255, 255, 255, 0.5),
    -0.3em -0.3em 0.5em rgba(0, 0, 0, 0.5), 0.3em 0.3em 0.5em rgba(0, 0, 0, 0.5);
  --text-color: rgb(108, 94, 80);
  --text-shadow: -1px 0px 1px #cdb473a1, 0px 1px 1px rgba(0, 0, 0, 0.7);
  --logo-inner-shadow: ;
  --logo-inner-fill: rgba(239, 238, 230, 0.5);
  --logo-cutout-shadow: drop-shadow(1px 1px 1px rgba(199, 161, 115, 0.5));
  --logo-initials-shadow: drop-shadow(-1px 1px 1px rgb(84, 74, 63));
  --logo-initials-stroke: #d2b8a5;
  --logo-inner-stroke: #d2b8a5;
  --logo-cutout-stroke: rgba(113, 97, 78, 0.15);
  --logo-cutout-fill: rgba(244, 237, 237, 0.15);
  --burger-lines: rgba(255, 255, 255, 0.7);
  --burger-lines-shadow: -1px 2px 1px rgba(0, 0, 0, 0.15),
    1px 2px 2px rgba(255, 255, 255, 0.25);
  --icon-fill: rgba(237, 235, 233, 0.5);
  --icon-stroke: #bfa1718a;
  --icon-shadow: drop-shadow(1px -1px 2px #948778);
  --service-link-color: #897b6c;
  --service-link-filter: -1px 0px 1px #bf8460, 0px 1px 1px rgba(0, 0, 0, 0.7);
  --headshot-filter: grayscale(50%) sepia(30%);
  --contact-icon-stroke: #bfa1718a;
  --contact-icon-fill: rgba(237, 235, 233, 0.5);
  --contact-icon-shadow: drop-shadow(1px -1px 2px rgba(0, 0, 0, 0.587));
}
@font-face {
  font-family: "Poiret";
  src: url("assets/fonts/poiret-one.regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "peignot";
  src: url("assets/fonts/peignot.regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  min-height: 100dvh;
}
body {
  height: 100dvh;
  display: flex;
  overflow-x: hidden;
}
ul {
  list-style-type: none;
}
.example {
  color: rgba(193, 179, 142, 0.75);
  filter: drop-shadow(1px 1px 1px #ba9e58c8);
}
.example:hover {
  color: rgba(194, 184, 156, 0.75);
  filter: drop-shadow(1px 1px 1px #b5b2aac8);
}
.example::after {
  color: rgba(165, 142, 77, 0.75);
  filter: drop-shadow(1px 1px 1px #86723ec8);
}
.parallax-bg {
  background-image: url("assets/saturn2.webp");
  filter: var(--bg-img-filter);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  height: 100dvh;
  width: 100vw;
  z-index: -1;
}
.parallax-content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin-top: 8rem;
  overflow: hidden;
  padding-bottom: 4rem;
}
.glass {
  background: var(--glass-bg-color);
  -webkit-box-shadow: var(--glass-shadow);
  box-shadow: var(--glass-shadow);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.copy {
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.04em;
  font-size: 1.07rem;
  font-weight: 500;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
}
.hidden {
  visibility: hidden;
}
.invisible {
  display: none;
}
/* Navbar */
.navbar {
  display: block;
  margin-top: 1rem;
  width: 80%;
  z-index: 1;
  box-shadow: var(--glass-shadow);
  border-radius: 24px;
}
.burger-menu {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 2.75rem;
  height: 2.75rem;
  padding-left: 0.8rem;
  padding-right: 0.2rem;
  margin-bottom: 0.5rem;
  background-color: var(--glass-cutout-bg);
  border: 0px;
  box-shadow: var(--glass-cutout-shadow);
}
.burger-menu:hover {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 45px;
  height: 45px;
  padding-left: 0.8rem;
  padding-right: 0.1rem;
  background-color: var(--glass-cutout-hover-bg);
  border: 0px;
  box-shadow: var(--glass-cutout-hover-shadow);
}
.burger-line1,
.burger-line2,
.burger-line3 {
  height: 0.18rem;
  margin: 0.19rem 0.55rem;
  background-color: var(--burger-lines);
  transition: 0.4s;
  box-shadow: var(--burger-lines-shadow);
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 59px;
  height: 30px;
  box-shadow: var(--glass-cutout-shadow-high-contrast);
}
.toggle-icon-row {
  height: 30px;
  width: 59px;
  margin: 0%;
  padding: 0%;
}
.sun-icon {
  height: 23px;
  width: 23px;
  align-self: stretch;
  margin-top: 6%;
  margin-right: 6%;
  padding: 0%;
  filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 1));
}
.sun-icon:hover {
  filter: drop-shadow(-2px -3px 3px #ba9e58);
}
.moon-icon {
  height: 23px;
  width: 23px;
  margin: 5%;
  padding: 0%;
  align-self: stretch;
  fill: rgba(255, 255, 255, 0.5);
  filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 1));
}
.moon-icon:hover {
  filter: drop-shadow(-2px -3px 3px #ba9e58);
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.round {
  border-radius: 34px;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--glass-cutout-bg);
  border-radius: 34px;
  transition: 0.4s;
  z-index: 2;
}
.slider:before {
  border-radius: 50%;
  background-color: #e4e3dd4f;
  height: 24px;
  width: 24px;
  position: absolute;
  content: "";
  left: 4px;
  top: 0.2rem;
  bottom: 0.15rem;
  box-shadow: inset 2px 2px 01.25px rgba(255, 255, 255, 0.3),
    inset 1px 1px 01.25px rgba(0, 0, 0, 0.1), 1px 1px 2px rgba(0, 0, 0, 0.3),
    inset -1px 2px 2px rgba(255, 255, 255, 0.3), 3px 2px 3px rgba(0, 0, 0, 0.3);

  transition: 0.4s;
}
.slider:hover::before {
  background-color: #e4e3dd9d;
  height: 25px;
  width: 25px;
  top: 0.15rem;
  bottom: 0.15rem;
}
input:checked + .slider {
  background-color: var(--glass-cutout-bg);
}
input:focus + .slider {
  box-shadow: 0 0 3px #0000005d;
}
input:checked + .slider:before {
  -webkit-transform: translateX(27px);
  -ms-transform: translateX(27px);
  transform: translateX(27px);
}
/* The side navigation menu */
.sidenav-bg {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  bottom: 0;
  left: 0%;
  overflow: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav {
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  height: 70%;
  width: 0; /* 0 width - change this with JavaScript */
  margin-top: 15%;
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  top: 0;
  right: 5%;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable horizontal scroll */
  padding-top: 40px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidenav-menu {
  margin-top: 1.75rem;
}
/* The navigation menu links */
.sidenav h1 {
  padding: 0rem 0.5rem;
  margin: 0.3rem 0rem;
  text-decoration: none;
  font-size: 1.3em;
  display: block;
  transition: 0.5s;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  z-index: 2;
}
.sidenav ul {
  padding: 0rem 1rem;
  margin-bottom: 0rem;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
  transition: 0.5s;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  z-index: 2;
}
.sidenav a {
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
  transition: 0.5s;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  z-index: 2;
}
.credits {
  margin: 1.5rem 0.5rem;
}
.sidenav-expand {
  width: 65vw;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 1%;
  font-size: 2.75rem;
  margin-left: 50px;
  margin-bottom: 1rem;
}
/* Masthead */
.masthead {
  width: 80%;
}
.logo {
  width: 8rem;
  height: 8rem;
  margin-top: 3.5rem;
  color: rgba(0, 0, 0, 0.35);
}
.logo-inner {
  stroke: var(--logo-inner-stroke);
  fill: var(--logo-inner-fill);
  stroke-width: 3.3;
  filter: var(--logo-inner-shadow);
}
.logo-cutout-ring {
  stroke: var(--logo-cutout-stroke);
  fill: var(--logo-cutout-fill);
  stroke-width: 8;
  filter: var(--logo-cutout-shadow);
}
.logo-initials {
  stroke: var(--logo-initials-stroke);
  fill: var(--logo-initials-stroke);
  stroke-width: 0.5;
  filter: var(--logo-initials-shadow);
  -webkit-filter: var(--logo-initials-shadow);
}
.name {
  font-family: "peignot";
  font-size: 2rem;
  margin-top: 0%;
  margin-bottom: 0rem;
  text-align: center;
  color: var(--text-color);
  letter-spacing: 0.1em;
  text-shadow: var(--text-shadow);
}
.llc {
  font-family: "peignot";
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--text-color);
  letter-spacing: 0.1em;
  text-shadow: var(--text-shadow);
}
.tagline {
  margin: 2rem 0;
  padding: 0 0.5rem;
  font-family: "Poiret";
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  color: var(--text-color);
  letter-spacing: 0.05em;
  text-shadow: var(--text-shadow);
}
/* Service Cards */
.service-cards {
  width: 80%;
  margin-top: 2rem;
}
.card {
  margin-bottom: 2rem;
  padding: 1rem 1rem;
  border: 0px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.icon {
  margin-top: 1rem;
  fill: var(--icon-fill);
  stroke: var(--icon-stroke);
  height: 5rem;
  width: 5rem;
  filter: var(--icon-shadow);
}
.card-header {
  border: 0;
  background-color: transparent;
}
.card-title {
  color: var(--text-color);
  font-family: Peignot;
  letter-spacing: 0.06em;
  font-size: 1.7rem;
  text-shadow: var(--text-shadow);
}
.card-subheader {
  color: var(--text-color);
  font-family: Peignot;
  letter-spacing: 0.07em;
  font-size: 1.3rem;
  text-shadow: var(--text-shadow);
}
.card-body {
  padding-bottom: 0;
  margin-bottom: 0.75rem;
}
.card-body ul {
  padding-left: 1rem;
}
.card-fee {
  margin-top: 0.8rem;
  margin-bottom: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  letter-spacing: 0.02em;
  line-height: 1.28rem;
  font-size: 1.06rem;
  font-weight: 600;
  color: var(--text-color);
  text-shadow: var(--text-shadow);
}
.card-footer {
  border: 0;
  background-color: transparent;
}
.service-more {
  background-color: transparent;
  border-width: 0 0px 0.5px 0px;
  border-color: var(--service-link-color);
  font-family: Poiret;
  font-size: 1.33rem;
  font-weight: bolder;
  color: var(--service-link-color);
  text-shadow: var(--service-link-filter);
}
/* This container is needed to position the front and back side */
.flip-box-inner {
  margin-right: 0%;
  position: relative;
  width: 100%;
  height: 100%;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.card.active {
  transform: rotateY(180deg);
}
/* Style the back side */
.flip-box-back {
  transform: rotateY(180deg);
}
/* Contact Card */
.section {
  width: 80%;
}
.contact-icon {
  stroke: var(--contact-icon-stroke);
  fill: var(--contact-icon-fill);
  filter: var(--contact-icon-shadow);
  height: 3rem;
  width: 3rem;
}
/* Tablet & Desktop */
@media (min-width: 992px) {
  .parallax-bg {
    background: url("assets/img/saturn2.jpg");
    background-size: cover;
  }
  .sidenav-expand {
    width: 20vw;
    margin-top: 5%;
  }
  .tagline {
    font-size: 1.4rem;
  }
}
/* Fade Animation */
.animated {
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-ms-keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-o-keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-moz-keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.fadeInUp-animation {
  -ms-animation: 1.75s fadeInUp;
  -o-animation: 1.75s fadeInUp;
  -moz-animation: 1.75s fadeInUp;
  -webkit-animation: 1.75s fadeInUp;
  animation: 1.75s fadeInUp;
}
@-ms-keyframes fadeInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-o-keyframes fadeInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-moz-keyframes fadeInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.fadeInDown-animation {
  -ms-animation: 1.75s fadeInDown;
  -o-animation: 1.75s fadeInDown;
  -moz-animation: 1.75s fadeInDown;
  -webkit-animation: 1.75s fadeInDown;
  animation: 1.75s fadeInDown;
}
.headshot {
  object-fit: cover;
  object-position: 30%;
  filter: var(--headshot-filter);
  width: 10rem;
  height: 10rem;
  background-color: var(--glass-cutout-bg);
  border: 0px;
  box-shadow: var(--glass-cutout-shadow);
}
.text-shadow {
  filter: drop-shadow(1px 2px 1px rgba(113, 103, 92, 1));
}
.hexagon {
  position: relative;
  display: block;
  overflow: hidden;
  width: 2.5rem;
  height: calc(2.5rem * 1.1547);
  margin: 0 auto;
  transform: rotate(240deg);
}

.hexagon-wrapper {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: rotate(60deg);
}

.hex-border {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-shadow: -2px 0px 1px rgba(255, 255, 255, 0.5),
    2px 0px 1px rgba(255, 255, 255, 0.5),
    3px 0 3px rgba(122, 111, 99, 0.5) inset,
    -3px 0 3px rgba(122, 111, 99, 0.5) inset;
  transform: rotate(60deg);
}
.bg-color {
  background-color: var(--glass-cutout-bg);
}
.hex-border:before {
  content: "\0020";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: -3px 0 3px rgba(122, 111, 99, 0.5) inset,
    3px 0 3px rgba(122, 111, 99, 0.5) inset;
  transform: rotate(60deg);
}

.hex-border:after {
  content: "\0020";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: -3px 0 3px rgba(122, 111, 99, 0.5) inset,
    3px 0 3px rgba(122, 111, 99, 0.5) inset;
  transform: rotate(120deg);
}
.hexagon-initials {
  position: absolute;
  left: 20%;
  top: 20%;
}
